---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ListPosts from "../../components/Post/ListPosts.astro";

const posts = await getCollection("blog");
const authors = await getCollection("authors");

// Get category from URL
const { category } = Astro.params as { category: string };

// Filter posts by parent category or subcategory
const filteredPosts = posts.filter((post) =>
    post.data.categories.some(
        (cat) =>
            cat.name.toLowerCase() === category.toLowerCase() ||
            (cat.subcategories &&
                cat.subcategories.some(
                    (sub) => sub.toLowerCase() === category.toLowerCase()
                ))
    )
);

export async function getStaticPaths() {
    // Get post list
    const allPosts = await getCollection("blog");

    // Create Set to save all parent category and subcategory
    const allCategories = new Set();

    allPosts.forEach((post) => {
        post.data.categories.forEach((cat) => {
            allCategories.add(cat.name.toLowerCase()); // Add parent category

            if (cat.subcategories) {
                cat.subcategories.forEach((sub) => {
                    allCategories.add(sub.toLowerCase()); // Add subcategory
                });
            }
        });
    });

    return Array.from(allCategories).map((cat) => ({
        params: { category: cat }, // Format URL
        props: { category: cat },
    }));
}
---

<Layout>
    <!-- Search Input -->
    <div class="px-4 lg:px-44 mb-2">
        <h1 class="mb-1 text-2xl font-bold">
            Category: {category.toUpperCase()}
        </h1>
    </div>

    <ListPosts posts={filteredPosts} authors={authors} />
</Layout>
