---
import Layout from '../layouts/Layout.astro';
import Content from "../data/page/about.md";
import ContentMD from '../components/ContentMD.astro';
import { getCollection } from 'astro:content';

interface ContentMetadataProps {
  title: string;
  desc: string;
  author: string;
  relatedPosts: string[];
  pubDate: Date;
  updatedDate: Date;
  tags: string[];
}

const authors = await getCollection("authors");

async function getContentMetadata() {
  const ContentFrontmatter = await Astro.glob("../data/page/about.md");
  return ContentFrontmatter.length > 0 
    ? ContentFrontmatter[0].frontmatter as ContentMetadataProps 
    : null;
}

const ContentMetadata = await getContentMetadata();
---

<Layout>
  {ContentMetadata ? (
    <ContentMD 
      Content={Content} 
      title={ContentMetadata.title} 
      desc={ContentMetadata.desc} 
      author={authors.find((a) => a.id === ContentMetadata.author)?.data}
      pubDate={new Date(ContentMetadata.pubDate)} 
      updatedDate={new Date(ContentMetadata.updatedDate)}   
    />
  ) : (
    <p>Loading content...</p>
  )}
</Layout>
