---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import TagPill from "../components/TagPill.astro";

const posts = await getCollection("blog");

// Lấy danh sách tất cả các tags (không trùng lặp)
const allTags = Array.from(new Set(posts.flatMap((post) => post.data.tags)));
---

<Layout>
    <div class="px-4 md:px-2 max-w-3xl mx-auto">
        <ul>
            {allTags.map((tag) => <TagPill tag={tag} />)}
        </ul>
    </div>
</Layout>
