---
interface Props {
    tag: string;
    className?: string;
}
const { tag, className } = Astro.props;
---

<a
    href={`/blog/tags/${tag}`}
    class={`  inline-block p-2 mr-3 mb-3 bg-blue-100 text-blue-800 font-semibold rounded ${className} uppercase hover:scale-110 transition-all`}
>
    {tag}
</a>
