---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { Button } from '@/components/ui/button';
---

<div id="container">
	<main>
		<Button>Click</Button>
	</main>
</div>